@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #EAEAEA;
}
/* ======================= NAVBAR ===================*/

.navbar{
    width: 100vw;
    height: 100px;
    background: #000;
    display: flex;
    align-items: center;

    justify-content: space-between;
}
.logo{
    margin: 20px 0 20px 80px;
    width: 200px;
    height: auto;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0 150px;
    padding: 0;
  }
li{
    margin: 0 30px;
    color: white;
}
a {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.items a:hover {
    background-color: #000;
    color: #8C7157;
}
/* ========================= ACCUEIL ============================*/
.background{
    background-image: url(../css/images/Capture\ d’écran\ 2019-11-12\ à\ 14.02.44.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/* =========================== PRESENTATION ============== */
.promotion img{
    width: 100vw;
    height: auto;
}
.reference img{
    width: 100vw;
    height: auto;
    padding-bottom: 75px;
}

/* ==========================Offre et prix ============== */

.offre-prix{
    display: flex;
    width: 100vw;
    height: 500px;
}
.watchpics{
    display: flex;
    margin: auto;
}
img{
    width: auto;
    height: 500px;
}
/* ============================ CONTENEUR AVIS ===================== */

.avis{
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ======================= NOTE  ======================== */

.note{
    color: rgb(177, 167, 28);
    text-align: center;
    
}


/*  ======================== AVIS ============================= */

.avis1{
    width: 300px;
    height: 310px;
    background-color: #fff;
    border-radius: 30px;
}


.avis2{
    width: 300px;
    height: 310px;
    background-color: #fff;
    border-radius: 30px;
}

.avis3{
    width: 300px;
    height: 310px;
    background-color: #fff;
    border-radius: 30px;
}

/* ========================= CONTENEUR AVIS ======================== */

.avis h4{
    text-align: center;
    padding: 13px;
    text-transform: uppercase;
}

.avis p{
    font-size: 19px;
    text-align: center;
    padding: 50px;
}
  /* Footer */

  .footer{
    width: 100vw;
    height: 250px;
    background: #000;
    color: #8C7157;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rs{
  display: flex;
  font-size: 2rem;
}

i{
  margin: 0 30px;
}
i:hover{
  color: white;
}

.contact h3{
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0 10px 0;
}
.contact p {
  margin: 3px 0 0 0;
}
